<%- include('includes/head', { pageTitle: '401 Error'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not Authenticated</h1>
    <p>You must login before accessing this resource. Please login.</p>
    <p><a class="btn" href="/login">Login</a></p>
  </main>
<%- include('includes/footer') %>

