<%- include('includes/head', { pageTitle: '403 Error'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Not Authorized</h1>
    <p>Unfortunately, you are not authorized to visit the resource you are requesting.</p>
    <p><a class="btn" href="/">Back to Safety!</a></p>
  </main>
<%- include('includes/footer') %>

