<%- include('includes/head', { pageTitle: '404 Error'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Could not find resource </h1>
    <p>Unfortunately, the page you are trying to access doesn't exist.</p>
    <p><a class="btn" href="/">Back to Safety!</a></p>
  </main>
<%- include('includes/footer') %>

